.texto1{
    color: brown;
    font-size: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    line-height: 1.6;
    text-align:center;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 1ch;
    word-spacing: 5px;
    white-space: nowrap;
}

.texto2{
    color: red;
    font-size: 18px;
    font-family: '';
    font-weight: bold;
    line-height: 1;
    text-align: left;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 1ch;
    word-spacing: 5px;
    white-space: nowrap;
}

.texto3{
    color:aqua;
}